
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade1 {
    animation: fadeIn 2s ease-out forwards; 
}

.fade2 {
    animation: fadeIn 3s ease-out forwards; 
}

.fade3 {
    animation: fadeIn 4.5s ease-out forwards; 
}

.fade4 {
    animation: fadeIn 6.0s ease-out forwards; 
}

.intro-container {

    padding-top: 30px; 
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: 20px;

}

.intro-container .middle a {
    text-decoration: none;

}
.middle {
    margin-top: 20px;
    padding-left: calc((100vw - 1300px) / 3.5); /* Matches the logo's padding */
    margin-left: 50px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start; 
    color: #4D453E;

}
.middleImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    vertical-align: middle;
    flex-direction: column;
  
}

.middleImage img {
    margin-top: -80px;
    vertical-align: center;
    width: 80%;
    flex:1;
    pointer-events: none;


}

.middle h1 {
    font-size: 2.35rem;
    padding-bottom: 0.8rem;
    color: #4D453E;
    font-size: 70px;
    font-weight: 500;
    word-wrap: break-word;
}

.middle .amanda {
    color: #4D453E;
    font-size:26px;
    font-weight: 600;
    word-wrap: break-word
}

.middle h2 {
    font-size: 26px;
    font-family: Kumbh Sans;
    font-weight: 400;
    line-height: 29.58px;
    word-wrap: break-word;
    color: #4D453E;
}

.middle h3 {
color: #4D453E;
font-size: 40px;
font-family: Libre Bodoni;
word-wrap: break-word;
font-weight: 400;

}



.codeCreative {
color: #60946E;
font-size: 40px;
font-family: Libre Bodoni;
font-style: italic;
    font-weight: 550;
word-wrap: break-word

}
.middle p {
    font-size: 20px;
    font-family: Kumbh Sans;
    font-weight: 400;
    line-height: 29.58px;
    word-wrap: break-word;
}

.middle p a {
    text-decoration: none;
    color: #60946E;
    font-size: 20px;
    font-family: Kumbh Sans;
    font-weight: 400;
    text-decoration: underline;
    line-height: 29.58px;
    word-wrap: break-word
}

.middle p a:hover {
    font-weight: 750;
}
.indentPar {
  margin-bottom: 0.5rem; /* Reduce the bottom margin */
  line-height: 1.4; /* Adjust line height if needed */
}
.container-button {
    margin-top: 18px;
    margin-bottom: 360px;

}

.container-button button {
    text-decoration: none;
    background-color: rgba(126, 106, 88, 0);
    border-radius: 8px;
    color: #4D453E;
    text-align: center;
    border-width: 1.30px;
    border-style: solid;
    width: 130px; /* Reduced from 154px */
    height: 40px; /* Reduced from 45px */
    font-size: 14px; /* Reduced from 14px */
    font-weight: 400;
    word-wrap: break-word;
    transition: transform 1s ease;
}

.container-button button:hover {
    color: #F7F7ED;
    background-color: #4D453E;
    cursor: pointer;
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    transition: 1.5s ease;
}




.myWorkHeader {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.0rem;
    font-weight: 500;
    align-items: center;
    color: #4D453E;

}