
.overviewRight {
    margin-top: 0rem;
}

.summary {
    max-width: 1200px;
    width: calc(100% - 160px); /* Equivalent to padding of 80px on each side */
    margin: 50px auto;
    display: grid;
}

.summary h2 {
    margin-top: 1rem;
}



.summary p {
    margin-bottom: 10px;
}

.summary img {
    width: 100%;
}

.cover-image img {
    width: 100%;
}

summary ol {
    margin-left: 10px;
}

table {
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
    display: block;
  }
  