@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Kumbh+Sans:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.kulim-park-extralight {
  font-family: "Kulim Park", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kulim-park-light {
  font-family: "Kulim Park", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kulim-park-regular {
  font-family: "Kulim Park", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kulim-park-semibold {
  font-family: "Kulim Park", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kulim-park-bold {
  font-family: "Kulim Park", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kulim-park-extralight-italic {
  font-family: "Kulim Park", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kulim-park-light-italic {
  font-family: "Kulim Park", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kulim-park-regular-italic {
  font-family: "Kulim Park", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kulim-park-semibold-italic {
  font-family: "Kulim Park", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kulim-park-bold-italic {
  font-family: "Kulim Park", sans-serif;
  font-weight: 700;
  font-style: italic;
}
